body {
    margin: 0;
    background: #EEEEEE;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #2E4750;
    line-height: 1;
}

*,
*:before,
*:after{
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  margin:0;
}

/*CONTAINER*/
.conteiner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /*padding: 15px;*/
}

/*GALLARY*/

.gallary{
  padding: 250px 0px 0px 0px;
}
.gallary__grid {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.gallary__grid,
.gallary__grid * {
  box-sizing: border-box;
}

.grid__item {
  width: 33,33%;
  margin: 10px;
  display: flex;
}

.gallary__grid__project {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.grid__item__project {
  margin: 10px;
  display: flex;
  justify-content: left;
}

.grid__item__inner {
  display: flex;
  position: relative;
  cursor:pointer;
  overflow: hidden;
  height: 100%;
}

.grid__item__inner:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  opacity: 0;
  z-index: 2;
  transition: opacity 0.4s ease;
}

.grid__item__inner:hover:before {
  opacity: 1;
}

.grid__item__image {
  width: 380px;
  height: 250px;
  object-fit: cover;
  transition: all 0.4s ease;
}

.grid__item__inner:hover .grid__item__image {
  transform: scale(1.05);
  
}

.grid__item__title {
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-size: 20px;
  color: #eeeeee;
  overflow: hidden;
  z-index: 4;
  padding: 0px 15px 0px 0px;
}

.grid__item__title > span {
  display: block;
  transform: translateY(30px);
  transition: transform 0.4s ease;
}

.grid__item__inner:hover .grid__item__title > span {
  transform: translateY(0);
}

/*PROJECT PAGE*/

.project_image_1 {
  height: 500px;
  width: 700px;
  object-fit: cover;
}

.description {
  margin-left: 20px;
  justify-content: left;
  font-weight: 500;
}

.describe__text {
  font-size: 30px;
  margin-top: 20px;
  text-align: left;
  font-weight: 700;
}

.describe__text span {
  font-size: 17px;
  font-weight: 500;
}

.share__links {
  display: flex;
  justify-content: left;
  padding-bottom: 50px;
}

.share__link__image {
  height: 40px;
  width: 40px;
  border-radius: 5%;
}

.share__links {
  margin-top: 30px;
}

.share__link__image1 {
  height: 40px;
  width: 40px;
  border-radius: 5%;
  margin-left: 13px;
}

.share__link {
  transition: all 0.4s ease;
}

.share__link:hover {
  transform: scale(1.1);
}

/*CONTACT*/

.contact__text {
  padding: 250px 0px 0px 0px;
}


.title__contact__text {
  font-size: 30px;
  text-align: center;
  color: #2E4750;
}

.description__contact__text {
  display: flex;
  justify-content: space-between;
  line-height: 1.4;
  font-weight: 500;
}

.description__contact__text__immer {
  color: #2E4750;
  margin-top: 40px;
}

.contact__link {
  text-decoration: none;
  color: #f9c22d;
}

.description__contact__text__immer span {
  font-weight: 700;
}

.description__contact__text__immer {
  margin: 10px;
}

/*SECTION*/

.CC_text {
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  margin-top: 30px;
  padding: 0px 0px 20px 0px;
  color: #2E4750;
}
/*HEADER*/

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.header__logo {
  font-size: 50px;
}
.header__logo__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_image {
  border-radius: 4%;
  margin-top: 50px;
  height: 150px;
  width: 150px;
}

.title__text {
  font-size: 30px;
  margin-left: 25px;
  margin-top: 50px;
  line-height: 0.8;
}

.title__text span {
  font-size: 18px;
  color: #f9c22d;
}

/*NAV*/
.nav{
  font-size: 23px;
  margin-top: 60px;
}
  
.nav__link{
  display: inline-block;
  vertical-align: top;
  position: relative;
  color: #CECECE;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.1s linear;
  margin-bottom: 20px;
}
  
.nav__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  margin: 2px 0;
  background-color: #f9c22d;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity 0.1s linear;
}
.nav__link:hover {
  color: #f9c22d;
}

/*MY YELLOW #f9c22d*/
  
.nav__link.active{
  color: #f9c22d;
}
  
  
.nav__link:hover:after,
.nav__link.active:after{
  opacity: 1; 
}

